In [ ]:
import requests
from bs4 import BeautifulSoup as bsf

In [3]:
link = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
halaman = requests.get(link)
soup = bsf(halaman.text, 'html')

In [ ]:
print(soup)

In [ ]:
soup.find_all('table')[1]

In [ ]:
soup.find('table', class_='wikitable sortable')

In [12]:
tabel = soup.find_all('table')[1]

In [ ]:
print(tabel)

In [21]:
world_title = tabel.find_all('th')

In [22]:
print(world_title)

[<th>Rank
</th>, <th>Name
</th>, <th>Industry
</th>, <th>Revenue <br/>(USD millions)
</th>, <th>Revenue growth
</th>, <th>Employees
</th>, <th>Headquarters
</th>]

In [23]:
world_table = [title.text.strip() for title in world_title]
print(world_table)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [24]:
import pandas as pd

In [28]:
df = pd.DataFrame(columns = world_table)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [33]:
data_kolom = tabel.find_all('tr')

In [39]:
for row in data_kolom[1:]:
    baris_data = row.find_all('td')
    baris_data_individu = [data.text.strip() for data in baris_data]

    panjang_data = len(df)
    df.loc[panjang_data] = baris_data_individu

In [40]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
2,3,ExxonMobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
195,96,Best Buy,Retail,"46,298",10.6%,"71,100","Richfield, Minnesota"
196,97,Bristol-Myers Squibb,Pharmaceutical industry,"46,159",0.5%,"34,300","New York City, New York"
197,98,United Airlines,Airline,"44,955",82.5%,"92,795","Chicago, Illinois"
198,99,Thermo Fisher Scientific,Laboratory instruments,"44,915",14.5%,"130,000","Waltham, Massachusetts"
199,100,Qualcomm,Technology,"44,200",31.7%,"51,000","San Diego, California"

In [46]:
df.to_csv(r'C:\Users\MOHI\Python Data Analys\Data Scrapping from Web.csv', index = False)